/* ObjectSelector.css */
.container {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Space between select section and selected objects section */ /* Reduced top margin */
}

.select-section{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.selected-objects {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.select-section h3, .selected-objects h3 {
    margin-bottom: 5px; /* Reduced margin between heading and dropdown */
    font-size: 1.2em; /* Smaller font size */
}

.selected-objects {
    margin-top: 0; /* Remove margin to align with the select box */
    border-left: 2px solid #ccc; /* Vertical separation */
    padding-left: 20px; /* Padding to create space after the border */
    max-height: 100px; /* Fixed height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
}

.selected-objects div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selected-button {
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px; /* Reduced padding for smaller buttons */
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px; /* Smaller font size */
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.selected-button:hover {
    background-color: red;
    color: white;
}

.av-script-section {
    margin-top: 40px; /* Increased margin between ObjectSelector and AV script section */
}
