.scheduler-container {
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  display: flex;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #45a049;
}

.add-button svg {
  margin-right: 5px;
}

.task-green {
  background-color: green;
  color: white;
}

.task-blue {
  background-color: blue;
  color: white;
}

.task-light-blue {
  background-color: lightblue;
  color: black;
}

.task-orange {
  background-color: orange;
  color: white;
}

.task-new {
  background-color: lightgreen;
  color: black;
}

.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  width: 500px;
  max-width: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-group {
  margin-bottom: 15px;
}

.modal-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.modal-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.save-button {
  background-color: #4CAF50;
  color: white;
}

.save-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.delete-button:hover {
  background-color: #e53935;
}

.cancel-button {
  background-color: #9e9e9e;
  color: white;
}

.cancel-button:hover {
  background-color: #757575;
}